.markdown > * + * {
    margin-top: 1rem;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin-block: 1.5rem;
}

.markdown h1 {
    font-size: var(--text-4xl);
}

.markdown h2 {
    font-size: var(--text-3xl);
}

.markdown h3 {
    font-size: var(--text-2xl);
}

.markdown h4 {
    font-size: var(--text-xl);
}

.markdown h5 {
    font-size: var(--text-lg);
}

.markdown h6 {
    font-size: var(--text-md);
}

.markdown small {
    font-size: var(--text-xs);
}

.markdown img {
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
}

.markdown blockquote {
    padding-inline-start: 1.5rem;
    border-inline-start: 0.25rem solid var(--accent-dark);
    color: var(--gray-0);
    font-family: var(--font-brand);
    font-size: var(--text-lg);
    font-weight: 600;
    line-height: 1.1;
}

.markdown a {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
}

.markdown a:hover,
.markdown a:focus-visible {
    text-decoration-color: currentColor;
}

@media (min-width: 50em) {
    .markdown blockquote {
        font-size: var(--text-2xl);
    }
}