---
import Hero from './Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const pages = [
	{ path: '/', title: 'Max Parisi', tags: [ 'home', 'root' ] },
	{ path: '/projects', title: 'My Projects', tags: [] },
	{ path: '/about', title: 'About Me', tags: [ 'max', 'learn', 'who' ] }
];

const projects = await getCollection('projects');

pages.push(
	...projects.map((project) => ({
		path: `/projects/${project.id}`,
		title: project.data.title,
		description: project.data.description,
		tags: project.data.tags
	}))
);
---

<BaseLayout title="404 | Max Parisi" description="404: Page not found">
	<Hero title="404" tagline="Page Not Found">
		<div class="suggestion-container" data-pages={JSON.stringify(pages)} hidden>
			<p>Were you looking for <a id="suggestion"></a>?</p>
		</div>
	</Hero>

	<script>
		import Fuse from 'fuse.js';

		const suggestion = document.querySelector<HTMLAnchorElement>('#suggestion');
		const container = document.querySelector<HTMLDivElement>('.suggestion-container');
		
		if (!suggestion || !container) {
			throw new Error('Suggestion elements not found.');
		}

		const pathname = decodeURIComponent(location.pathname);

		const query =
			pathname
				.split('/')
				.filter(Boolean)
				.pop() ?? pathname;

		const pages = (
			JSON.parse(container.dataset.pages ?? '[]') as {
				path: string;
				title: string;
			}[]
		);

		const fuse = new Fuse(pages, {
			keys: ['path', 'title', 'description', 'tags'],
			threshold: 1,
			ignoreLocation: true
		});

		const match = fuse.search(query)[0];

		if (match) {
			suggestion.textContent = match.item.title;
			suggestion.href = match.item.path;
			container.hidden = false;
		}
	</script>
</BaseLayout>

<style>
	.suggestion-container {
		margin-top: 0.5rem;
		align-self: center;
		font-size: var(--text-md);
	}

	.suggestion-container a {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.suggestion-container a:hover,
	.suggestion-container a:focus {
		text-decoration-color: currentColor;
	}
</style>